@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body {
    display: block;
    background-color: hsl(30, 54%, 90%);
    
}

#recipe-container {
    background-color: hsl(0, 0%, 100%);
    text-align: left;
    border-radius: 30px;
    padding-top: 45px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 45px;
    width: 720px;
    display: block;
    justify-content: center;
    margin: 0px auto;
}

#recipe-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#Header {
    margin: 0px 0px 0px 0px;
}

#Header h1 {
    font-family: 'Young Serif', serif;
    font-size: 44px;
    margin: 20px 0px 20px 0px;
}

#Header p {
    margin: 0px;
    line-height: 25px;
}

.page-content {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    font-weight: normal;
}

ol,ul {
    padding-left: 25px;
}

li {
    padding-left: 25px;
}

#Preparation h3 {
    margin: 0px 0px 10px 0px;
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
}

#Preparation ul {
    padding-left 15px;
}
#Preparation li {
    margin-bottom: 10px;
    letter-spacing: .5px;
}

#Preparation li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 13px;
}

#Preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 35px;
    margin: 40px 0px 40px 0px;
    border-radius: 10px;
}

#Ingredients {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

#Ingredients h2 {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    letter-spacing: .7px;
    font-family: 'Young Serif', serif;
    font-weight: normal;
    margin-bottom: 10px;
}

#Ingredients li {
    list-style: square;
    margin: 10px 0px 10px 0px;
    letter-spacing: .5px;
}


#Ingredients li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 13px;
}

#Instructions {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

#Instructions h2 {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    letter-spacing: .7px;
    font-family: 'Young Serif', serif;
    font-weight: normal;
    margin-bottom: 10px;
}

#Instructions li {
    margin: 10px 0px 10px 0px;
    line-height: 25px;
}

#Instructions li::marker {
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

#Nutrition {
    
}

#Nutrition h2 {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    letter-spacing: .7px;
    font-family: 'Young Serif', serif;
    font-weight: normal;
    margin-bottom: 20px;
}

#Nutrition table {
    width: 100%;
}

#Nutrition td {
    padding: 10px 15px 10px 30px;
}

table {
    border-collapse: collapse;
    margin: 0px;
    font-family: 'Outfit', serif;
}

.nutritioninfo {
    font-family: 'Outfit', serif;
    font-weight: bold; 
    color: hsl(14, 45%, 36%);
    letter-spacing: .5px;
}

.attribution {
    text-align: center;
}